<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_02_Student_Management_System.Properties.Settings.Student_Management_System_DB_dboConnectionString"
            connectionString="Data Source=DESKTOP-EMUIAKL\MSSQLSERVER01;Initial Catalog=Student_Management_System_DB.dbo;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>